*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
:root{
    --major-color: #F56C40;
}
.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    color: #ffff;
    height: 90vh;  
}

.landingpage-text{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #ffff;
  width: 100%;
  height: 10vh;
}

/* home page */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    padding: 30px 25px;
    background: black;
}
.nav-logo{
    width: 60px;
    height: 35px;
}
.ham{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 250px;
}
.hambuger{
    display: flex;
    height: 2px;
    width: 21px;
    margin-bottom: 4px;
    border: 1px solid var(--major-color) ;
}
.bottom-section{
    display: flex;
    flex-direction: column;
}

.hero-text{
    display: flex;
    width: 150px;
    padding: 3rem 4rem ;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-image{
    display: flex;
    width: 300px;
    height: 250px;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    margin: 0px 15px;
    background-image: url(./assets/bannerimage.jpg);
    background-size: contain;
}
.brand-text{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.longwidth{
    width: 300px;
    height: 46px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    text-align: center;
    color: #ffff;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 45px;
    box-shadow: 0px 12px 10px -3px rgba(245, 108, 64, 0.16);
    transition-duration: 0.5s;
}
.longwidth:hover{
    background-color: white;
    color: #F56C40;
    border: 2px solid #F56C40;
}

.majorcolor{
    background-color: var(--major-color);
}
.explore-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 1100px;
    width: 375px;
    left: 0px;
    top: 1150px;
    border-radius: 40px;
    background: fafafa;
}.explore-text{
    height: 21px;
    width: 230px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000;
}
.products-container{
    display: flex;
    width: 340px;
    height: 350px;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.contents{
    display: flex;
    flex-direction: column;
    width: 100px;
    height:370px;
    margin-left: 20px;
}
.product-image{
    display: flex;
    width: 100px;
    height: 350px;
}
.product-image>img{
    width: 150px;
    height: 200px;
    
}
.product-info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
}
.contents1{
    margin-left: 70px;
}
.beads-slider{
    display: flex;
    width: 200px;
    /* border: 2px solid red; */
    height: 500px;
    margin-top: 30px;    
}
.beadContainer{
    display: none;
    width: 200px;
    height: 200px;
    margin-left: 15px;
    animation-name: fade;
    animation-duration: 1.5s;
    /* border: 2px solid blue; */
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.beadimage{
    width: 150px;
    height: 150px;
}

.price-tag{
    display: flex;
    justify-content: flex-end;
    height: 35px;
    width: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 9px 15px;
    margin-top: 1px;
    border-radius: 25px;
    color: #ffff;
    background-color: #000000;
}
.shortwidth{
    width: 130px;
    height: 47px;
    padding: 9px 7px;
    box-shadow: 0px 12px 10px -3px rgba(245, 108, 64, 0.16);
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    color: black;
    font-weight:bold;
    font-size: 15px;
    background-color: var(--major-color);
    margin-top: 30px; 
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2800px;
    width: 370px;
    height: 800px;
}
.top-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 1px;
}
.top-footer>img,
.mid-footer>img{
    width: 100px;
}
.bg-green{
   background: #25D366;
   margin-top: 20px;
   box-shadow:none;
}
.bg-black{
    width: 300px;
    height: 46px;
    padding: 15px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    transition-duration: 0.8s;
    color: var(--major-color);
    box-shadow:none;
}
.mid-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin-top: 20px;
}
.footer-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 44px;
    width: 222px;
    font-weight:bold;
    font-size: 20px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 135%;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 10px;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    left:10px
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #F56C40;
  }
  .active {
    background-color: #717171;
  }

@media screen and (min-width:600px){
    .longwidth{
        width: 330px;
        height: 46px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 18px;
        text-align: center;
        color: #ffff;
        font-weight: bold;
        margin-left: 100px;
        margin-top: 45px;
        box-shadow: 0px 12px 10px -3px rgba(245, 108, 64, 0.16);
        transition-duration: 0.5s;
    }
    .explore-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 1100px;
        width: 375px;
        left: 100px;
        top: 1100px;
        border-radius: 40px;
        background: fafafa;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2950px;
        width: 370px;
        height: 800px;
        left: 100px;
    }
}